<div class="pensamento {{pensamento.modelo}} ff-roboto-mono" [ngClass]="larguraPensamento" >
    <img src="{{pensamento.modelo}}.png" alt="Aspas coloridas">
    <p class="conteudo">{{pensamento.conteudo}}</p>
    <p class="autoria"><b>{{pensamento.autoria}}</b></p>
    <div class="acoes">
        <button class="botao-editar" routerLink="/pensamentos/editarPensamento/{{pensamento.id}}">
            <img src="icone-editar.png" alt="icone editar">
        </button>
        <button class="botao-excluir" routerLink="/pensamentos/excluirPensamento/{{pensamento.id}}">
            <img src="icone-excluir.png" alt="icone excluir">
        </button>

    </div>
</div>

<!--Uma maluquice acconteceu aqui quando eu implementei as interfaces OnInit.... de repente as in
interpolações não funcionaram-->